// Disclaimer for the result file style.css 
/*
* Please don't touch style.css directly, use style.scss instead.
* Every modification made inside this file will be removed automatically 
*
*/
// ==|== vars ===============================================================
@import "h5bp/h5bp-vars.inc";
//@import "author-vars-before.inc";
// ==|== End vars ===========================================================

//##############################################################################

/* =============================================================================
*  h5bp
*  =============================================================================
*/
// ==|== h5bp =============================================================== 
@import "h5bp/h5bp-css-before.inc";
// ==|== End h5bp ===========================================================

//##############################################################################

// ==|== semantics-helpers ==================================================
//@import "h5bp/h5bp-semantics-mixins-helpers-before.inc";
//@import "author-semantics-mixins-helpers-before.inc.inc";
// ==|== End semantics-helpers ==============================================

//##############################################################################

/* =============================================================================
*  Typo Author
*  =============================================================================
*/
@import "author-typography-before.inc";
// ==|== End typo =========================================================== 

//##############################################################################

/* =============================================================================
*  Main Style
*  =============================================================================
*/

//YOUR CODE HERE !!!

// ==|== End primary styles =================================================

//##############################################################################
/* =============================================================================
*  Mediaqueries
*  =============================================================================
*/
// @import "mediaqueries.scss"
// ==|== End mediaqueries ===================================================

//##############################################################################

/* =============================================================================
*  Helpers h5bp + Author
*  =============================================================================
*/
@import "h5bp/h5bp-css-helpers-after.inc";
@import "author-css-helpers-after.inc";
// ==|== End helpers ======================================================== 

//##############################################################################

/* =============================================================================
*  Print style
*  =============================================================================
*/
// ==|== print-media ========================================================
@import "h5bp/h5bp-css-print-after.inc";
// ==|== End print-media ====================================================
@import "compass/css3";

body { padding: 40px; }

.work, .article {
  span.pdate { float:right;}
  a {
    @include inline-block;
    text-decoration:none;
    padding:4px;
    &:visited{
      color:blue;
    }
    &:hover{
      &:active{
        color:red;
        background-color:white;
      }
      background-color: red;
      color:white;
      text-decoration:none;
    }
  }
  a.backhome{
    margin-left:-32px;
    span.backarrow{
      @include inline-block;
      position:relative;
      visibility:hidden;
    }
    &:hover span.backarrow{
      visibility:visible;
    }
    &:active{
      span.backarrow{
        color:black;
      }
      span.title{
        color:red;
      }
    }
  }
  p { clear:left;}
}
.clear{ clear:both;}
a#morelink {
  &:visited{
    color: #0000cc;
  }
  clear:both;
}
