.article
  h1
    a.backtohome(href='/')
      span.fontawesome-backward.backarrow
      span.title!=article.title
  strong
    | Published: 
    date = article.date
    span(title=strftime('%B %d, %Y %H:%M UTC', date))= strftime('%Y.%m.%d', date)
.article!= article.html
