#doyoulike
  Do you like
  a(href="https://www.facebook.com/groups/glitchglitch") G L I T C H
  ?

.works
  h3 works
  each work in works
    .work
      h4
        a(class='worklink', href="work/" + work.name + '/')= work.title
        date = work.date
        span(title=strftime('%B %d, %Y %H:%M UTC', date), class="pdate")= strftime('%Y.%m.%d', date)
      | !{work.desc}
    hr(class='clear')