.works
  h3 recent works 
  each work in works.slice(0, 3)
    .work
      h4
        a(href=work.name + '/')= work.title
        date = work.date
        span(title=strftime('%B %d, %Y %H:%M UTC', date), class="pdate")= strftime('%Y.%m.%d', date)
      | !{work.desc}
    hr(class='clear')
a(id='morelink', href='works') older...
