div(class='nav')
  a(href="http://patternsaremyfeelings.yolk.cc") patternsaremyfeelings
  a(href="http://mythoughtsareyours.yolk.cc") mythoughtsareyours
  a(href="http://yolkalyzer.yolk.cc") yolkalyzer
  a(href="http://www.0p3nr3p0.net") 0p3nr3p0
  a(href="http://samedifference.io") samedifference
  
div(class='social')
  a(href='http://twitter.com/yyolk', class='zocial-twitter')
  a(href='http://facebook.com/yolkyolk', class='fontawesome-facebook')
  a(href='http://soundcloud.com/yolk', class='zocial-soundcloud')
  a(href='http://yolk.yolk.cc', class='zocial-tumblr')
  a(href='http://www.youtube.com/yolkyyolk', class='zocial-youtube')
  a(href='https://vimeo.com/yyolk', class='zocial-vimeo')
  a(href='https://github.com/yyolk', class='fontawesome-github-alt')
  a(href='https://chrome.google.com/webstore/search/yolk', class='zocial-chrome')