!!! 5
%html(lang="en")
  %head
    %meta{charset: "utf-8"}
    %title #{(title ? title + " - " : "")}YOLK
    %meta{name: "description", content: ""}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{href: "/favicon.ico", rel: "shortcut icon"}
    %link{rel: "stylesheet", href: "/css/style.css"}
  %body
    #container
      #header
      = content
      #footer
